<html lang="en">
    <head>
        <link rel="icon" type="image/x-icon" href="/favicon.jpg">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <title>Profile</title>
    </head>

<body>
    <h1>Admin page!</h1>
</body>

</html>